.User {
	background-color: #12002b;
	height: 80vh;
	flex: 1;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
	padding: 1.5rem;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 2rem;
}

.account_amount {
	margin: 0;
	font-size: 2.5rem;
	font-weight: bold;
}

.account_amount_description {
	margin: 0;
}

.account_title {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
}

.account_content_wrapper {
	width: 100%;
	flex: 1;
}

.edit_button {
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

.header {
	color: #fff;
	margin-bottom: 2rem;
	text-align: center;
}

.transaction_button {
	display: block;
	width: 100%;
	padding: 8px;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	border-color: #00bc77;
	background-color: #00bc77;
	color: #fff;
	cursor: pointer;
}

@media (min-width: 720px) {
	.account {
		flex-direction: row;
	}

	.account_content_wrapper.cta {
		flex: 0;
	}

	.transaction_button {
		width: 200px;
	}
}

.sr_only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal_content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
     color: #12002b;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-open {
     display: block;
}

.save_button {
     border-color: #00bc77;
     background-color: #00bc77;
     color: #fff;
     font-weight: bold;
     padding: 10px;
     cursor: pointer;
	margin-top: 2rem;
	width: 50%;
}

.edit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.edit label {
	display: block;
	margin-bottom: 0.5rem;
	text-align: left;
	width: 50%;
	margin-top: 2rem;
}

.edit input {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 49%;
}
